*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.background{
    width: 100%;
    background-image: radial-gradient(#0e0047,#000001);
}

.background-trasparente{
    background: #fafafa10;
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
    color: white;
}

#inicio{
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px 20px;
    text-align: center;
    gap: 2rem;
}

#inicio .inicio-perfil img{
    width: 300px;
}

#inicio .inicio-presentacion{
    text-align: start;
    color: white;
}

#inicio .inicio-presentacion p:nth-child(1)::first-letter{
    font-size: 2.5rem;
    font-family: monospace;
    font-weight: bold;
    background: linear-gradient(#006367 ,#00F7FF);
    -webkit-background-clip: text;
    color: transparent;  
}

#inicio .inicio-presentacion h2{
    font-size: 2.5rem;
    font-family: monospace;
    font-weight: bold;
    background: linear-gradient(#006367 ,#00F7FF);
    -webkit-background-clip: text;
    color: transparent;  
    
}

#inicio .inicio-presentacion button{
    background-color: transparent;
    color: rgb(120, 118, 234);
    border: 1px solid rgb(0, 0, 255);
    padding: 2px;
    border-radius: 5px;

}

#sobre-mi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
}

#sobre-mi .sobre-mi-titulo h2{
    font-size: 2.5rem;
    font-family: monospace;
    font-weight: bold;
    background: linear-gradient(#006367 ,#00F7FF);
    -webkit-background-clip: text;
    color: transparent;  
}

#sobre-mi .sobre-mi-descripcion p{
    padding-top: 10px;
    color: white;
}

#habilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
}

#habilidades .habilidades-titulo h2{
    font-size: 2.5rem;
    font-family: monospace;
    font-weight: bold;
    background: linear-gradient(#006367 ,#00F7FF);
    -webkit-background-clip: text;
    color: transparent;  
}

#habilidades .habilidades-logos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 15px;
}

#habilidades .habilidades-logo{
    text-align: center;
    border-radius: 5px;
    width: 100px;
}

#habilidades .habilidades-logo:nth-child(1){
    background-color: #DE4B25;
    color: rgb(255, 255, 255);
}
#habilidades .habilidades-logo:nth-child(2){
    background-color: #0396DE;
    color: rgb(255, 255, 255);
}
#habilidades .habilidades-logo:nth-child(3){
    background-color: #EFD81D;
    color: rgb(0, 0, 0);
}
#habilidades .habilidades-logo:nth-child(4){
    background-color: #C76395;
    color: rgb(255, 255, 255);
}
#habilidades .habilidades-logo:nth-child(5){
    background-color: #7010EF;
    color: rgb(255, 255, 255);
}
#habilidades .habilidades-logo:nth-child(6){
    background-color: #2A2B2E;
    color: #5DD3F4;
}
#habilidades .habilidades-logo:nth-child(7){
    background-color: #E94D32;
    color: #3F2E00;
}

#proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
}

#proyectos .proyectos-titulo h2{
    font-size: 2.5rem;
    font-family: monospace;
    font-weight: bold;
    background: linear-gradient(#006367 ,#00F7FF);
    -webkit-background-clip: text;
    color: transparent;  
}

#proyectos .proyectos-cards{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.proyectos-cards .card{
    width: 20rem;
    height: 200px;
    background:linear-gradient(black,yellow);
    display: flex;
    align-items: center;
    justify-content: center;
}

#contactame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 30px;
}

#contactame .contactame-titulo h2{
    font-size: 2.5rem;
    font-family: monospace;
    font-weight: bold;
    background: linear-gradient(#006367 ,#00F7FF);
    -webkit-background-clip: text;
    color: transparent;  
}

#contactame .contactame-iconos{
    display: flex;
    gap: 2rem;
}

#contactame .contactame-iconos img{
    width: 40px;
}

@media screen and (min-width: 600px){
    #inicio{
        flex-direction: row;
        justify-content: space-around;
        height: 100vh;
    }
    #sobre-mi{
        height: 100vh;
    }
    #habilidades{
        height: 100vh;
    }
    #proyectos{
        height: 100vh;
    }
    #contacto{
        height: 100vh;
    }
}
