*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.background{
    width: 100%;
    background-image: radial-gradient(#0e0047,#000001);
}

.background-trasparente{
    background: #fafafa10;
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
    color: white;
}

#inicio{
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px 20px;
    text-align: center;
    gap: 2rem;
}

#inicio .inicio-perfil img{
    width: 300px;
}

#inicio .inicio-presentacion{
    text-align: start;
    color: white;
}

#inicio .inicio-presentacion h2{
    color: rgb(0, 0, 255);
    font-size: 2.5rem;
    font-family: monospace;
}

#inicio .inicio-presentacion button{
    background-color: transparent;
    color: rgb(120, 118, 234);
    border: 1px solid rgb(0, 0, 255);
    padding: 2px;
    border-radius: 5px;

}

#sobre-mi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
}

#sobre-mi .sobre-mi-titulo h2{
    color: rgb(0, 0, 255);
    text-decoration: underline;
}

#sobre-mi .sobre-mi-descripcion p{
    padding-top: 10px;
    color: white;
}
